################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SecureProject_Blazor-master/.vs/SecureProject/FileContentIndex/6e6f1898-e699-4f52-a728-3147e747aa15.vsidx
/SecureProject_Blazor-master/.vs/SecureProject/FileContentIndex/123c532a-ce00-453d-944c-bfa546a6c935.vsidx
/SecureProject_Blazor-master/.vs/SecureProject/FileContentIndex/17972fa9-f9fc-4711-92ff-1dd82b6a3785.vsidx
/SecureProject_Blazor-master/.vs/SecureProject/FileContentIndex
/SecureProject_Blazor-master/.vs/SecureProject/FileContentIndex
