################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SecureProject_Blazor-master/.vs/SecureProject/FileContentIndex/6e6f1898-e699-4f52-a728-3147e747aa15.vsidx
